<div class="container">
  <h2><%= @list.name %></h2>
    <p><%= link_to "Add Movie to This List", new_list_bookmark_path(@list) %></p>
     <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card" style="width: 18rem;">
        <img src=<%= bookmark.movie.poster_url %> class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <p class="card-text"><%= bookmark.movie.overview %></p>
          <p class="card-text"><%= bookmark.comment %></p>
          <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
    </div>
    <% end %>
</div>
